{% extends "base.html" %}
<title>{% block title %}{{block.super}} > Songs{% endblock title %}</title>
{% block content %}
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
<script type="text/javascript">
	var playlist = [];
</script>
<style>{% include "snippets/songs_list_css.css" %}</style>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h3>Songs</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="active">
                            <th>#</th>
                            <th>Songs</th>
                            <th>Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                    	{% for some_item in object_list %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a href="/songs/{{some_item.slug}}">{{some_item.Name}}</a></td>
                            <td>{{some_item.Votes}}<i class="fa fa-thumbs-up" aria-hidden="true" style="float:right;cursor:pointer;"></i></td>
                        </tr>
                        {% endfor %}
                        {% for obj in object_list %}
							<script type="text/javascript">
								playlist.push("{{obj.slug}}");
								
							</script>
						{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}
{% block player %}
	<div id="MusicPlayer" class="row">
		<div class="col-md-1 col-lg-1 col-xs-1">
			{% load static %}
			<img src="{% static 'images/' %}">
		</div>
	</div>
{% endblock player %}

<!--
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h3>Anime</h3>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="active">
                            <th>#</th>
                            <th>Songs</th>
                            <th>Votes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="/songs/{{so">Naruto Shippuden</a></td>
                            <td>2 hours ago</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="#">One Punch Man</a></td>
                            <td>5 hours ago</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="#">Owari no Seraph</a></td>
                            <td>7 hours ago</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
-->
