body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    font-size: 14px;
    overflow:True;
}

a {
    color: #3498db;
    
    &:hover {
        text-decoration: none;
        color: #2980b9;
    }
}


.active {
    background-color: #ecf0f1;
}
.panel {
    padding: 20px;
    // background-color: red;
}

.container {
    margin-top: 20px;
}

.table>thead>tr>th {
    border-bottom: 1px solid #95a5a6;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #ecf0f1;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#MusicPlayer{
	position:fixed;
	top:90%;
	height:100px;
	width:110%;
	background-color:black;
}
#MusicPlayer img{
	height:90%;
	width:80%;
	padding:10px;
}
#MusicPlayer #track{
	padding:15% 0 25% 0;
	position: relative;
	left:-35%;
	color: white;
	font-size:150%;
}
#toolbar{
	position: relative;
	top: 25px;
	left: -75px;
}
#slidecontainer {
    width: 1400px; /* Width of the outside container */
    position: relative;
    top: 7px;
}
.btn{
	cursor: pointer;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: none; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #AAAAFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #AAAAFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius:50%;
}
#time{
	position: relative;
	top: 7px;
	margin-left:10px;
	margin-right:10px;
	color: white;
}
#volumecontainer{
	transform: rotateZ(90deg);
	position: absolute;
	top: -85px;
	left: 85.7%;
	display: none;
}
.volume {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 50px; /* Specified height */
    background: black; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #AAAAFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.volume::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #AAAAFF; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

