body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    font-size: 14px;
    overflow:True;
}

a {
    color: #3498db;
    
    &:hover {
        text-decoration: none;
        color: #2980b9;
    }
}


.active {
    background-color: #ecf0f1;
}
.panel {
    padding: 20px;
    // background-color: red;
}

.container {
    margin-top: 20px;
}

.table>thead>tr>th {
    border-bottom: 1px solid #95a5a6;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #ecf0f1;
}

h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#MusicPlayer{
	position:fixed;
	top:90%;
	height:100px;
	width:110%;
	background-color:black;
}
#MusicPlayer img{
	height:90%;
	width:80%;
	padding:10px;
}
#MusicPlayer #track{
	padding:15% 0 25% 0;
	position: relative;
	left:-35%;
	color: white;
	font-size:150%;
}
#toolbar{
	position: relative;
	top: 25px;
	left: -75px;
}

