<!DOCTYPE HTML>
<html>
	<head>
		<title>
			{% block title %}CrankItUp{% endblock title %}
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">CrankItUp!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'songs' %}">Songs</a>
					<li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'genre' %}">Genres</a>
					<li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					<li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact' %}">Contact</a>
					<li>

				</ul>
			</div>
		</nav>
		<div class="container" style="position:relative;top:70px;">
			{% block content %}
			{% endblock content %}
		</div>
		{% block player %}
		{% endblock player %}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

	</body>
</html>		

